@import '/src/styles.scss';

.blog-listing{
  padding: 30px 0;
  h1{
    font-weight: bold;
  }
  .cards{
    margin-top: 15px;
  }
  .cards-inner{
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    border-radius: 25px;
    margin-top: 25px;
    width: 100%;
    height: 750px;
    cursor: pointer;
    @include respond(tablet) {
      height: 850px;
    }
    @include respond(mobile) {
      height: 800px;
    }
    .wrapper{
      padding: 30px;
      h6{
        font-weight: bold;
        font-size: 30px;
      }
      .c-btn{
        font-size: 11px;
        padding: 7px 15px;
      }
      p{
        font-size: 14px;
        padding-top: 25px;
        color: $gray;
      }
      .read{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        a{
          color: $orange;
            font-size: 12px;
        }
        p{
          font-size: 12px;
          color: $gray;
          padding-top: 0;
        }
      }
      .bottoms{
        margin-top: 5%;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50px;
          object-fit: cover;
          object-position: center;
        }
        h6{
          font-size: 13px;
        }
        p{
          font-size: 13px;
          padding-top: 4px;
          color: $tripleC;
          &:hover{
            color: $orange;
            transition: 0.5s;
            opacity: 0.5s;
          }
        }
      }
    }
    img{
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: center;
      border-radius: 25px 25px 0px 0px;
    }
  }
}
