<div class="blog-listing">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h1>Blogs</h1>
      </div>

      <div class="col-12">
        <div class="cards">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6" *ngFor="let item of data" routerLink="/blogs/blog-details">
              <div class="cards-inner">
                <img src="assets/img/blog1.jpg">
                <div class="wrapper">
                  <h6>{{item.title}}</h6>
                  <div class="mt-4">
                    <a class="c-btn pink">Event Marketing</a>
                  </div>
                  <p>{{item.text}}</p>
                  <div class="read">
                    <a href="#">Read On <i class="fas fa-chevron-right"></i></a>
                    <p>8 Min Read</p>
                  </div>
                  <div class="bottoms">
                    <div class="row">
                      <div class="col-2">
                        <img src="{{item.user.image1}}">
                      </div>
                      <div class="col-10">
                        <h6>{{item.user.name}}</h6>
                        <p>{{item.user.date}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
