<div class="dashboard">
  <div class="container">
    <div class="heading-bar">
      <div class="row">
        <div class="col-12">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <div class="admin-card">
          <h6>Events</h6>
          <p>156</p>
          <i class="far fa-calendar-alt"></i>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="admin-card">
          <h6>Shops | Products</h6>
          <p>132</p>
          <i class="fas fa-shopping-bag"></i>

        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="admin-card">
          <h6>Local Services</h6>
          <p>203</p>
          <i class="fab fa-buffer"></i>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="admin-card">
          <h6>Place | Community</h6>
          <p>102</p>
          <i class="fas fa-globe-europe"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-controls pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-bar">
            <h1>Admin Controls</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12 mt-3" *ngFor="let item of adminControls" routerLink="{{item.path}}">
          <div class="card">
            <div class="card-body p-3 d-flex justify-content-between">
              <p>{{item.name}}</p>
              <i class="{{item.icon}}"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-controls pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-bar">
            <h1>Content Pages</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-12 mt-3" *ngFor="let item of contentPages" routerLink="{{item.path}}">
          <div class="card">
            <div class="card-body p-3 d-flex justify-content-between">
              <p>{{item.name}}</p>
              <i class="{{item.icon}}"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>