@import '../../../../styles.scss';

.dashboard {
  padding:  3% 0;
  .heading-bar {
    h1 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: .1px;
      color: $black;
    }
  }
  .admin-card {
    margin-top: 30px;
    height: 158px;
    cursor: pointer;
    h6 {
      font-size: 17px;
      font-weight: 500;
      color: $lightBlack;
    }
    p {
      padding-top: 8px;
      font-size: 30px;
      font-weight: 600;
      color: $black;
    }
    i {
      font-size: 40px;
      float: right;
      color: $darkGray;
    }
    &:hover {
      i {
        font-size: 55px;
        transition: 1s;
        -webkit-transition: 1s;
      }
    }
  }
}
