<div class="header py-3">
  <div class="container">
      <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="logo">
            <a class="text-pinkgradient" href="#">GOLOQAL</a>
          </div>
        </div>

        <div class="col-8">
          <div class="nav">
            <ul>
              <li><a class="text-uppercase" routerLink="/events/event-listing">My Events</a></li>
              <li><a class="text-uppercase" routerLink="/shops/shop-listing">My Shops</a></li>
              <li><a class="text-uppercase">Nearby Events</a></li>
              <li><a class="text-uppercase">Nearby Shops</a></li>
              <li><a class="text-uppercase" routerLink="/auth/login">SIGN IN</a></li>
              <li><a class="text-uppercase" routerLink="/auth/signup">JOIN</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
  <ul>
    <li>
      <a (click)="toggleMenu()" routerLink="/events/event-listing">
        My Events
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/shops/shop-listing">
        My Shops
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()">
        Nearby Events
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()">
        Nearby Shops
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/auth/login">
        Sign In
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/auth/signup">
          Join
      </a>
    </li>
  </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>
