<div class="header py-3">
  <div class="container">
      <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>

      <div class="row">
        <div class="col-2">
          <div class="logo">
            <a class="text-pinkgradient" routerLink="/homepage">GOLOQAL</a>
          </div>
        </div>

        <div class="col-10">
          <div class="nav">
            <ul>
              <li><a class="text-uppercase" routerLink="/page/create-page">My Page</a></li>
              <li>
                <a class="text-uppercase" routerLink="/page/nearby-page">Nearby Shops / Products</a>
              </li>
              <li><a class="text-uppercase" routerLink="/auth/login">SIGN IN</a></li>
              <li><a class="text-uppercase" routerLink="/auth/signup">JOIN</a></li>
              <li>
                <div class="user-img" routerLink="/auth/edit-profile">
                  <img src="../../../assets/img/shop4.jpg">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
  <ul>
    <li>
      <a (click)="toggleMenu()" routerLink="/page/create-page">
        Create Page
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/blogs/create-blog">
        Write Blog
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/auth/edit-profile">
        Profile
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/auth/login">
        Sign In
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/auth/signup">
          Join
      </a>
    </li>
  </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>
