@import '../../../../styles.scss';

.near-by-page {
  padding:  5% 0;
  .shops-section {
    .heading {
      h1 {
        font-weight: 600;
        font-size: 30px;
        letter-spacing: .1px;
        color: $black;
      }
      p {
        font-weight: 400;
        font-size: 22px;
        color: $lightBlack;
        letter-spacing: .1px;
        padding-top: 10px;
      }
    }
  }
}
