<div class="create-blog">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-6">
        <form [formGroup]="programForm">
          <div class="plain-card">
            <h2>Create Blog</h2>
            <div class="row">
              <div class="col-12">
                <app-image-uploader (previewImage)="onImagePreview($event)"></app-image-uploader>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group pt-4">
                  <label>Blog Title</label>
                  <input type="text" class="form-control" placeholder="Blog Title" formControlName="blogTitle">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Select Category</label>
                  <select class="form-control c-dropdown" formControlName="category_id">
                    <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" placeholder="Description" rows="5" formControlName="description"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" placeholder="Content" rows="5" formControlName="content"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="mt-3 text-center">
                  <a class="c-btn pink mr-3">Cancel</a>
                  <!-- <a class="c-btn green mr-3" *ngIf="!isEdit">Preview</a> -->
                  <a class="c-btn green mr-3" *ngIf="!isEdit" (click)="createBlog()">Create Blog</a>
                  <a class="c-btn green mr-3" *ngIf="isEdit" (click)="updateBlog()">Update</a>
                  <a class="c-btn pink" *ngIf="isEdit" (click)="deleteBlog()">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
