@import '/src/styles.scss';

.create-blog{
  padding: 20px 0;
  h2{
    font-weight: 500;
    font-size: 20px;
  }
  .add-img{
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    @include respond(tablet) {
      margin-top: 10%;
    }
    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 0 10px #e7e7e7;
      border-radius: 25px;
      @include respond(tablet) {
        width: 150px;
        height: 150px;
      }
    }
  }
}
