<div class="create-blog">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-6">
        <form>
          <div class="plain-card">
            <h2>Create Blog</h2>
            <div class="row">
              <div class="col-12">
                <div class="add-img">
                  <input class="d-none" type="file" accept="image/*" #file (change)="readURL($event)">
                  <a (click)="file.click()">
                    <img *ngIf="!imageUploaded" src={{preview}}>
                    <img *ngIf="imageUploaded" src={{loading}}>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group pt-4">
                  <label>Title</label>
                  <input type="text" class="form-control" placeholder="Title">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Select Category</label>
                  <select class="form-control c-dropdown">
                    <option selected>Select Category</option>
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                    <option>Category 4</option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" placeholder="Description" rows="5"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="mt-3 text-center">
                  <a class="c-btn pink">Create Blog</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
