<div class="shop">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="inner row">
          <div class="col-12  col-lg-5">
            <div class="image">
              <img src="../../../../assets/img/shop.jpg">
              <div class="icon">
                <a><i class="fas fa-external-link-alt"></i></a>
                <a class="mr-5"><i class="fas fa-heart"></i></a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-7">
            <div class="right">
              <div class="right-inner">
                <div class="row justify-content-center">
                  <h6 class="text-center">
                    <i class="fas fa-star"></i>
                    <span>Panda Mart</span>
                  </h6>
                </div>
              </div>

              <div class="name">
                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>START</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-7 col-lg-8">
                          <h6>
                            <span class="day">Sun</span>
                            May 15, 2021
                          </h6>
                        </div>

                        <div class="col-5 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              10:00am
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>END</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-7 col-lg-8">
                          <h6>
                            <span class="day">Mon</span>
                            April 25, 2021
                          </h6>
                        </div>

                        <div class="col-5 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              12:30pm
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Feauters
                  </label>
                </div>
              </div>

              <div class="buttons">
                <a class="c-btn pink mr-3">Website</a>
                <a class="c-btn green"><i class="fas fa-bolt"></i>Oder now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-6">
                <a class="left"><i class="fas fa-edit"></i> DESCRIPTION</a>
              </div>
              <div class="col-6">
                <a class="right">WEBSITES <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <h6>Chastain Park Spring Arts & Crafts Festival 2021 is happening on Saturday, May 15, 2021 at 10:00AM
                  EDT at Chastain Park.</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <h4 class="text-center">TOP SHOPS</h4>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-6">
                <a class="left"><i class="fas fa-map-marker"></i> LOCATION</a>
              </div>
              <div class="col-6">
                <a class="right">DIRECTIONS <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <h4 class="text-center pt-3">Chastain Park</h4>
              <h6 class="text-center">4469 Stella DriveATLANTA, Georgia, 30327</h6>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-8">
                <a class="left"><i class="fas fa-users"></i>TOP PRODUCTS</a>
              </div>
              <div class="col-4">
                <a class="right">ALL <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>

            <div class="col-12">
              <div class="products">
                <div class="row">
                  <div class="col-6 col-md-6 col-lg-3">
                    <div class="item">
                      <img src="../../../../assets/img/shop1.jpg">
                      <p class="pt-2 text-truncate">Pepsi Drink</p>
                      <p class="price">Rs. 80</p>
                    </div>
                  </div>
                  <div class="col-6 col-md-6 col-lg-3">
                    <div class="item">
                      <img src="../../../../assets/img/shop2.jpg">
                      <p class="pt-2 text-truncate">Milk Dayfresh -1 L</p>
                      <p class="price">Rs. 200</p>
                    </div>
                  </div>
                  <div class="col-6 col-md-6 col-lg-3">
                    <div class="item">
                      <img src="../../../../assets/img/shop3.png">
                      <p class="pt-2 text-truncate">Chicken Shots -1 KG</p>
                      <p class="price">Rs. 450</p>
                    </div>
                  </div>
                  <div class="col-6 col-md-6 col-lg-3">
                    <div class="item">
                      <img src="../../../../assets/img/shop4.jpg">
                      <p class="pt-2 text-truncate">Drink BLACK BRUIN </p>
                      <p class="price">Rs. 170</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <a class="left"><i class="fas fa-user"></i>SHOP CREATOR</a>
            <div class="col-12">
              <div class="text-center pt-3">
                <img src="../../../../assets/img/img.g.jpg">
                <p class="mini">created by</p>
                <p>Eventbrite</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
