<div class="contact-listing">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h1>Contact Listing</h1>
        </div>
      </div>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Company</th>
              <th>City</th>
              <th>Message</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Adom</td>
              <td>Jacky</td>
              <td>adomjacky@gmail.com</td>
              <td>+13349991276</td>
              <td>ABC</td>
              <td>Chicago</td>
              <td>Null</td>
              <td>
                <a class="far fa-edit mr-4"></a>
                <a class="fas fa-trash-alt"></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>John</td>
              <td>Semth</td>
              <td>johnsemth@gmail.com</td>
              <td>+13002577811</td>
              <td>HIK</td>
              <td>Houston</td>
              <td>Null</td>
              <td>
                <a class="far fa-edit mr-4"></a>
                <a class="fas fa-trash-alt"></a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Ancy</td>
              <td>Jorg</td>
              <td>ancy@gmail.com</td>
              <td>+12330003487</td>
              <td>CHO</td>
              <td>Philadelphia</td>
              <td>Yes</td>
              <td>
                <a class="far fa-edit mr-4"></a>
                <a class="fas fa-trash-alt"></a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Rocky</td>
              <td>Amy</td>
              <td>rocky@gmail.com</td>
              <td>+18001568813</td>
              <td>SDF</td>
              <td>Phoenix</td>
              <td>Null</td>
              <td>
                <a class="far fa-edit mr-4"></a>
                <a class="fas fa-trash-alt"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
