<div class="event">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="inner row">
          <div class="col-12  col-lg-5">
            <div class="image">
              <img src="../../../../assets/img/img1.jpg">
              <div class="icon">
                <a href="#"><i class="fas fa-external-link-alt"></i></a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-7">
            <div class="right">
              <div class="right-inner row">
                <h6 class="text-center">
                  <i class="fas fa-star"></i>
                  <span>Chastain Park Spring Arts & Crafts Festival 2021</span>
                </h6>
              </div>

              <div class="name">
                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>START</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-7 col-lg-8">
                          <h6>
                            <span class="day">Sun</span>
                            May 15, 2021
                          </h6>
                        </div>

                        <div class="col-5 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              10:00am
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>END</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-7 col-lg-8">
                          <h6>
                            <span class="day">Mon</span>
                            April 25, 2021
                          </h6>
                        </div>

                        <div class="col-5 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              12:30pm
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="buttons">
                <a href="#" class="pink"><i class="fas fa-external-link-alt"></i> SHARE</a>
                <a href="#" class="green"><i class="fas fa-bolt"></i>  REGISTER</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-6">
                <a class="left"><i class="fas fa-edit"></i> DESCRIPTION</a>
              </div>
              <div class="col-6">
                <a class="right">WEBSITES <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <h6>Chastain Park Spring Arts & Crafts Festival 2021 is happening on Saturday, May 15, 2021 at 10:00AM EDT at Chastain Park.</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <h4 class="text-center">ALL AGES</h4>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-6">
                <a class="left"><i class="fas fa-map-marker"></i> LOCATION</a>
              </div>
              <div class="col-6">
                <a class="right">DIRECTIONS <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <h4 class="text-center pt-3">Chastain Park</h4>
              <h6 class="text-center">4469 Stella DriveATLANTA, Georgia, 30327</h6>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <a class="left"><i class="fas fa-user"></i> EVENT CREATOR</a>

            <div class="col-12">
              <div class="text-center pt-3">
                <img src="../../../../assets/img/img.g.jpg">
                <p class="mini">created by</p>
                <p>Eventbrite</p>
                <div class="dot">
                  <a><i class="fas fa-ellipsis-h"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
