<div class="event">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="inner row">
          <div class="col-5">
            <div class="image">
              <img src="../../../../assets/img/img1.jpg">
            </div>
          </div>

          <div class="col-7">
            <div class="right row">
              <i class="fas fa-star"></i>
              <h6>Chastain Park Spring Arts & Crafts Festival 2021</h6>
            </div>

            <div class="icon">
              <i class="fas fa-external-link-alt share"></i>
            </div>

            <div class="name">
              <div class="row">
                <div class="col-3">
                  <div class="plain-card">
                    <p>START</p>
                  </div>
                </div>
                <div class="col-9">
                  <div class="plain-card row">
                    <div class="col-6">
                      <h6>
                        <p class="day">Sun</p>
                        May 15, 2021
                      </h6>
                    </div>

                    <div class="col-6">
                      <h6>
                        <i class="far fa-clock"></i>
                        10:00am
                      </h6>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row pt-4">
                <div class="col-3">
                  <div class="plain-card">
                    <p>START</p>
                  </div>
                </div>
                <div class="col-9">
                  <div class="plain-card row">
                    <div class="col-6">
                      <h6>
                        <p class="day">Sun</p>
                        May 15, 2021
                      </h6>
                    </div>

                    <div class="col-6">
                      <h6>
                        <i class="far fa-clock"></i>
                        10:00am
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="col-12">
        <div class="plain-card">

        </div>
      </div> -->

    </div>
  </div>
</div>
