@import '/src/styles.scss';

.event{
  padding: 30px 0;
}

.event .inner .image{
  position: relative;
}

.event .inner .image img{
  width: 100%;
  border-radius: 10px;
  height: 335px;
  object-fit: cover;
  object-position: center;
}

.event .inner .icon a{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
}

.event .inner .icon a:hover{
  color: $orange;
  transition: 0.5s;
  opacity: 0.5s;
}

.event .inner .right{
  padding: 0 30px;
  @include respond(mobile) {
    padding: 25px 0;
  }
}

.event .right-inner h6{
  height: 100px;
  max-height: 100px;
  overflow-y: hidden;
  @include respond(tablet) {
    padding: 10px;
  }
}

.event .right-inner h6 span{
  font-size: 40px;
  @include respond(mobile) {
    font-size: 23px;
  }
}

.event .right-inner i{
  background: $default;
  padding: 8px;
  color: $white;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  top: -5px;
}

.event .name{
  padding-top: 35px;
  @include respond(mobile) {
    padding-top: 5px;
  }
}

.event .name .plain-card{
  margin-top: 20px;
}

.event .name p{
  text-align: center;
  font-size: 15px;
}

.event .name span.day{
  border: 1px solid #bbbbbb;
  padding: 1px 12px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
  display: inline;
}

.event .name i{
  padding-right: 5px;
}

.event .right .buttons{
  margin-top: 8%;
  text-align: center;
  @include respond(mobile) {
    margin-top: 13%;
  }
}

.event .cards{
  margin-top: 5%;
}

.event .plain-card{
  margin-top: 15px;
}

.event .cards a.left{
  color: $gray;
  font-weight: 500;
}

.event .cards .left i{
  padding-right: 6px;
  color: $gray;
}

.event .cards a.right{
  float: right;
  color: $orange;
  font-weight: 500;
  cursor: pointer;
}

.event .cards .right i {
  padding-left: 6px;
}

.event .cards h6{
  padding-top: 15px;
}

.event .cards h4{
  font-size: 30px;
  font-weight: 500;
}

.event .cards img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  background-color: gray;
  padding: 10px;
  border: 0;
  border-radius: 50px;
}

.event .cards p.mini{
  font-size: 12px;
  padding-top: 12px;
}

.event .cards p{
  font-weight: 500;
}
