<div class="create">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-10">
        <form>
          <div class="plain-card">
            <h2>Event Details</h2>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Event Title</label>
                  <input type="text" class="form-control" placeholder="Event Title">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>Start Date Time</label>
                  <input type="datetime-local" class="form-control">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>End Date Time</label>
                  <input type="datetime-local" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="plain-card mt-4">
            <h2>Custom Buttons</h2>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Button 1 Name</label>
                  <input type="text" class="form-control" placeholder="Button 1 Name">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>Button 1 Link</label>
                  <input type="text" class="form-control" placeholder="Button 1 Link">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>Button 2 Name</label>
                  <input type="text" class="form-control" placeholder="Button 2 Name">
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>Button 2 Link</label>
                  <input type="text" class="form-control" placeholder="Button 2 Link">
                </div>
              </div>
            </div>
          </div>

          <div class="plain-card mt-4">
            <h2>Description & Location</h2>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea type="text" class="form-control" placeholder="Description" rows="3"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <!-- <label>Description URL</label> -->
                  <input type="link" class="form-control" placeholder="Description URL">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" placeholder="Address 1">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address 2">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
