@import '/src/styles.scss';

.category-listing {
	padding: 4% 0;
  .heading {
    padding-bottom: 3%;
    h1 {
      color: $black;
      font-weight: 500;
      font-size: 25px;
      letter-spacing: .1px;
    }
  }
  table {
    &.table {
      tbody {
        td {
          a {
            cursor: pointer;
            font-size: 16px;
            &.fa-edit  {
              color: green;
            }
            &.fa-trash-alt {
              color: red;
            }
          }
        }
      }
    }
  }
}
