<div class="homepage">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="top-heading-bar">
          <h1>Find Stuff to Do in Atlanta</h1>
          <p>The best events near you</p>
        </div>
      </div>
    </div>

    <div class="search-bar">
      <app-search-bar></app-search-bar>
    </div>

    <div class="events-section">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="heading">
            <h1>Top Events</h1>
            <p>Top experiences around Atlanta</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-4" *ngFor="let item of events" routerLink="/events/event-details">
          <app-custom-card [data]="item"></app-custom-card>
        </div>
      </div>
    </div>

    <div class="shops-section">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="heading">
            <h1>Top Shops</h1>
            <p>Nearest shop location</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-4" *ngFor="let item of shops" routerLink="/shops/shop-details">
          <app-custom-card [data]="item"></app-custom-card>
        </div>
      </div>
    </div>
  </div>
</div>
