@import '../../../styles.scss';

.for-you {
  padding:  5% 0 5% 0;
  .heading {
    h1 {
      font-weight: 600;
      font-size: 40px;
      letter-spacing: .1px;
      color: $black;
    }
  }
  .page-section {
    padding-top: 4%;
    .heading {
      h1 {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: .1px;
        color: $black;
      }
      p {
        font-weight: 400;
        font-size: 22px;
        color: $lightBlack;
        letter-spacing: .1px;
        padding-top: 10px;
      }
    }
  }
}
