@import '/src/styles.scss';

.create-shop {
  padding: 32px 0;
  .heading {
    padding-bottom: 12px;
    @include respond(mobile){
      padding-bottom: 0px;
    }
    h1{
      font-size: 35px;
      letter-spacing: .1px;
      font-weight: 600;
      color: $black;
      @include respond(mobile){
        font-size: 24px;
      }
    }
  }
  .plain-card {
    margin-top: 24px;
    .add-img {
      text-align: center;
      img {
        cursor: pointer;
        width: 180px;
        height: 180px;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 0 10px #e7e7e7;
        border-radius: 25px;
      }
    }
    .add-product {
      .add-img {
        padding-bottom: 30px;
        text-align: center;
        img {
          cursor: pointer;
          width: 180px;
          height: 180px;
          object-fit: cover;
          object-position: center;
          box-shadow: 0 0 10px #e7e7e7;
          border-radius: 25px;
        }
      }
      .btns {
        margin-top: 7%;
        @include respond(mobile) {
          margin-top: 10%;
        }
      }
      .item {
        display: flex;
        justify-content: space-between;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          object-fit: cover;
          object-position: center;
        }
        p {
          color: $lightBlack;
          font-size: 16px;
          font-weight: 500;
        }
        a {
          cursor: pointer;
          i {
            font-size: 18px;
          }
        }
      }
      .wrapper{
        @include respond(mobile) {
          margin-top: 12%;
        }
      }
    }
  }
  .btns {
    margin-top: 7%;
  }
}
.create-shop .plain-card h2{
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0;
}
.form-group {
  .form-control {
    &.c-dropdown {
      box-shadow: 0 5px 15px 0 rgb(144 147 151 / 20%);
      border-radius: 7px;
      background-color: $white;
      border: 0;
      letter-spacing: 0.1px;
      color: $lightBlack;
    }
  }
}
