@import '/src/styles.scss';

.faq{
  padding: 32px 0;
  .heading {
    padding-bottom: 3%;
    h4{
      color: $black;
      font-size: 30px;
      font-weight: 600;
      @include respond(mobile){
        font-size: 23px;
      }
    }
  }
  .faq-accordians {
    @include respond(mobile){
      padding-top: 30px;
    }
    .card{
      margin-top: 8px;
      .card-header {
        h5 {
          color: $lightBlack;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
  }
}
