@import '/src/styles.scss';

.faq{
  padding: 32px 0;
  .heading {
    padding-bottom: 3%;
    h4{
      color: $black;
      font-size: 30px;
      font-weight: 600;
      @include respond(mobile){
        font-size: 23px;
      }
    }
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 15px;
  display: none;
  background-color: white;
  overflow: hidden;
  &.active {
    display: block;
  }
}