@import "/src/styles.scss";

.about {
  img {
    // background-image: url(../../../assets/img/about2.jpg);
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    @include respond(tablet) {
      height: 40vh;
    }
  }
  .inner {
    padding: 30px 0;
    h4 {
      font-size: 30px;
      font-weight: 600;
      color: $black;
      @include respond(mobile) {
        font-size: 25px;
      }
    }
    p {
      color: $gray;
      padding-top: 10px;
    }
  }
}
