@import '/src/styles.scss';

.about{
  background-image: url(../../../assets/img/about2.jpg);
  width: 100%;
  height: 70vh;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #656565d6;
  img{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    @include respond(tablet) {
      width: 80%;
      height: auto;
      margin-top: 5%;
    }
    @include respond(mobile) {
      margin-top: 25%;
    }
  }
  @include respond(tablet) {
    height: 55vh;
  }
}

.inner{
  padding: 30px 0;
  h4{
    font-size: 30px;
    font-weight: 600;
    color: $black;
  }
  p{
    color: $gray;
    padding-top: 10px;
  }
}
