@import '/src/styles.scss';

.signup {
	padding: 6% 0px;
  .signup-btn {
    a {
      letter-spacing: .1px;
    }
  }
	.conditions {
		padding-top: 12%;
		p {
			font-size: 15px;
			color:  $lightBlack;
			text-align: center;
      a {
        text-decoration: none;
        font-weight: 600;
      }
		}
	}
  .login-account {
    padding-top: 12%;
    span {
      color: $lightBlack;
      font-size: 15px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      padding-left: 2px;
    }
  }
}
