<div class="footer">
    <div class="container">
      <div class="footer-sections">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <h6 class="text-pinkgradient">Company</h6>
                <a>About us</a>
                <a>Contact us</a>
                <a>Privacy Policy</a>
                <a>Term & Conditions</a>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h6 class="text-pinkgradient">Follow Us</h6>
                <a>Facebook</a>
                <a>Twitter</a>
                <a>Instagram</a>
                <a>Pinterest</a>
                <a>LINE@</a>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h6 class="text-pinkgradient">Content</h6>
                <a>FAQ</a>
                <a>Blog</a>
                <a>Partner with us</a>
                <a>Subscribe for news </a>
            </div>
        </div>
      </div>
    </div>
</div>
