<div class="footer">
    <div class="container">
      <div class="footer-sections">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3">
                <h6 class="text-pinkgradient">About</h6>
                <a>About Us</a>
                <a>Blog</a>
                <a>Careers</a>
                <a>Press</a>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <h6 class="text-pinkgradient">Creators</h6>
                <a>Event Promotion</a>
                <a>Shop Promotion</a>
                <a>Product Promotion</a>
                <a>Sponsorship</a>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <h6 class="text-pinkgradient">Investment</h6>
                <a>Opportunity</a>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <h6 class="text-pinkgradient">Policies</h6>
                <a>Terms</a>
                <a>Privacy Policy</a>
                <a>FAQs</a>
            </div>
        </div>
      </div>
    </div>
</div>
