<div class="add-category">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="heading">
          <h1>Add Category</h1>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <form [formGroup]="programForm">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" placeholder="Category Name" formControlName="categoryName">
          </div>
          <div class="add-btn">
            <button class="c-btn pink mr-3" (click)="createCategory()"
              [disabled]="programForm.invalid" [ngClass]="{'disable-opacity': programForm.invalid}">
              Add Category
            </button>

            <button class="c-btn green">Update Category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
