@import '/src/styles.scss';

.add-category {
  padding: 5% 0;
  @include respond(mobile){
    padding: 8% 0;
  }
  .heading {
    h1 {
      color: $black;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: .1px;
    }
  }
  .add-img{
    text-align: center;
    cursor: pointer;
    margin-top: 5%;
    @include respond(tablet) {
      margin-top: 10%;
    }
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 0 10px #e7e7e7;
      border-radius: 25px;
      @include respond(tablet) {
        width: 150px;
        height: 150px;
      }
    }
  }
  .add-btn {
    text-align: center;
  }
  .plain-card{
    @include respond(mobile) {
     margin-top: 20px;
    }
  }
}
