<div class="add-category">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6 col-lg-6">
        <div class="plain-card">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="heading">
              <h1>{{ isEdit ? "Edit" : "Add" }} Category</h1>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-12">
            <div class="add-img">
              <input class="d-none" type="file" accept="image/*" #file (change)="categoryReadURL($event)">
              <a (click)="file.click()">
                <img *ngIf="!categoryImageUploaded" src={{categoryPreview}}>
                <!-- <img *ngIf="categoryImageUploaded" src={{loading}}> -->
              </a>
            </div>

            <form [formGroup]="programForm">
              <div class="form-group pt-4">
                <input type="text" class="form-control" placeholder="Category Name" formControlName="categoryName">
              </div>

              <div class="add-btn">
                <button class="c-btn pink mr-3" *ngIf="!isEdit" (click)="createCategory()"
                  [disabled]="programForm.invalid" [ngClass]="{'disable-opacity': programForm.invalid}">
                  Add Category
                </button>

                <button class="c-btn green" *ngIf="isEdit" (click)="updateCategory()"
                  [disabled]="programForm.invalid" [ngClass]="{'disable-opacity': programForm.invalid}">
                  Update Category
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <div class="plain-card">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="heading">
              <h1>{{ isEditTopic ? "Edit" : "Add" }} Topic</h1>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-12">
            <div class="add-img">
              <input class="d-none" type="file" accept="image/*" #file1 (change)="topicReadURL($event)">
              <a (click)="file1.click()">
                <img *ngIf="!topicImageUploaded" src={{topicPreview}}>
                <!-- <img *ngIf="topicImageUploaded" src={{loading}}> -->
              </a>
            </div>

            <form [formGroup]="topicForm">
              <div class="form-group pt-4">
                <input type="text" class="form-control" placeholder="Topic Name" formControlName="name">
              </div>

              <div class="add-btn">
                <button class="c-btn pink mr-3" *ngIf="!isEditTopic" (click)="createTopic()"
                  [disabled]="topicForm.invalid" [ngClass]="{'disable-opacity': topicForm.invalid}">
                  Add Topic
                </button>

                <button class="c-btn green" *ngIf="isEditTopic" (click)="updateTopic()"
                  [disabled]="topicForm.invalid" [ngClass]="{'disable-opacity': topicForm.invalid}">
                  Update Topic
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
