@import '/src/styles.scss';

.add-category {
  padding: 5% 0;
  @include respond(mobile){
    padding: 8% 0;
  }
  .heading {
    h1 {
      color: $black;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: .1px;
    }
  }
  .head{
    @include respond(mobile){
      margin-top: 15%;
    }
    h1 {
      color: $black;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: .1px;
    }
  }
  .form-group{
    @include respond(tablet){
      margin-top: 15px;
    }
  }
  .add-btn {
    text-align: center;
    padding-top: 22px;
  }
}
