<div class="add-edit-slider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-10">
        <div class="heading">
          <h1>Slider</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-10">
        <div class="plain-card">
          <div class="add-product">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <app-image-uploader [isReset]="isReset" (previewImage)="onImagePreview($event)"></app-image-uploader>

                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="sliderName">
                </div>
                <div class="btns">
                  <a class="c-btn pink mr-3" (click)="addSlider()">Add</a>
                  <a class="c-btn green">Update</a>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6">
                <div class="list-group list-group-flush wrapper">
                  <div class="list-group-item item list-group-item-action align-items-center" *ngFor="let item of sliders">
                    <img src="{{item.image}}">
                    <p>{{item.name}}</p>
                    <a (click)="deleteSlider(item)"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
