<div class="about-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="heading">
                    <h1>About Us Page Content</h1>
                </div>
            </div>
            <div class="col-12" *ngIf="!isEdit && data[0]?.content">
                <p class="data-content py-5">{{data[0]?.content}}</p>

                <a class="c-btn green mr-2" (click)="onEdit()">Edit</a>
                <a class="c-btn pink" (click)="onCancel()">Cancel</a>
            </div>

            <div class="col-12" *ngIf="isEdit || !data[0]?.content">
                <div class="pt-4">
                    <textarea class="w-100 form-control" rows="10" [(ngModel)]="content"
                        placeholder="Add content here"></textarea>
                </div>

                <div class="pt-4">
                    <button class="c-btn pink d-block" (click)="updateContent()" *ngIf="data[0]?.id">
                        Update Content
                    </button>

                    <button class="c-btn green d-block" (click)="addContent()" *ngIf="!data[0]?.id">
                        Add Content
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>