<div class="shop">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <button class="c-btn pink mb-3 float-right" (click)="edit(data)">Edit</button>
      </div>

      <div class="col-12">
        <div class="inner row">
          <div class="col-12  col-lg-5">
            <div class="image">
              <img src="{{data.image}}">
              <div class="icon">
                <a><i class="fas fa-external-link-alt"></i></a>
                <a class="mr-5"><i class="fas fa-heart"></i></a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-7">
            <div class="right">
              <div class="right-inner">
                <div class="row justify-content-center">
                  <h6 class="text-center">
                    <i class="fas fa-star"></i>
                    <span>{{data.title}}</span>
                  </h6>
                </div>
              </div>

              <div class="name">
                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>START</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-8 col-lg-8">
                          <h6>
                            <span class="day">{{getDayFromDate(data.startDateTime)}}</span>
                            {{data.startDateTime | date: 'mediumDate'}}
                          </h6>
                        </div>

                        <div class="col-4 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              {{data.startDateTime | date: 'shortTime'}}
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-3 col-lg-4">
                    <div class="plain-card">
                      <p>END</p>
                    </div>
                  </div>
                  <div class="col-12 col-md-9 col-lg-8">
                    <div class="plain-card">
                      <div class="row">
                        <div class="col-8 col-lg-8">
                          <h6>
                            <span class="day">{{getDayFromDate(data.endDateTime)}}</span>
                            {{data.endDateTime | date: 'mediumDate'}}
                          </h6>
                        </div>

                        <div class="col-4 col-lg-4">
                          <div class="row">
                            <h6>
                              <i class="far fa-clock"></i>
                              {{data.endDateTime | date: 'shortTime'}}
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [value]="data.featured">
                  <label class="form-check-label">
                    Featured
                  </label>
                </div>
              </div>

              <div class="buttons">
                <a class="c-btn pink mr-3">Website</a>
                <a class="c-btn green"><i class="fas fa-bolt"></i>Oder now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-7">
                <span><i class="fas fa-edit"></i>Description</span>
              </div>
              <div class="col-5">
                <a [href]=data.descriptionUrl class="right">More Info<i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <h6>{{data.description}}</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <div class="row">
              <div class="col-6">
                <span class="left"><i class="fas fa-map-marker"></i>Location</span>
              </div>
              <div class="col-6">
                <a [href]=data.locationUrl class="right">Directions<i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-12">
              <h4 class="text-center pt-3">{{data.address1}}</h4>
              <h6 class="text-center">{{data.address2}}</h6>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="data.products.length > 0">
          <div class="plain-card">
            <div class="row">
              <div class="col-8">
                <span class="left"><i class="fas fa-users"></i>Top Products</span>
              </div>
              <div class="col-4">
                <a class="right">All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>

            <div class="col-12">
              <div class="products">
                <div class="row">
                  <div class="col-6 col-md-6 col-lg-3" *ngFor="let item of data.products">
                    <div class="item">
                      <img src="{{item.image}}">
                      <p class="pt-2 text-truncate">{{item.name}}</p>
                      <p class="price">$ {{item.price}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="plain-card">
            <span class="left"><i class="fas fa-user"></i>Shop Creator</span>
            <div class="col-12">
              <div class="text-center pt-3">
                <img src="assets/img/img.g.jpg">
                <p class="mini py-2">created by</p>
                <p>Eventbrite</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
