@import '/src/styles.scss';

agm-map {
  height: 300px;
}

.shop{
  padding: 30px 0;
  .inner{
    .image{
      position: relative;
      img{
        width: 100%;
        border-radius: 10px;
        height: 335px;
        object-fit: cover;
        object-position: center;
      }
    }
    .icon{
      a{
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        &:hover{
          color: $orange;
          transition: 0.5s;
          opacity: 0.5s;
        }
      }
    }
    .right{
      padding: 0 30px;
      @include respond(mobile) {
        padding: 25px 0;
      }
      .right-inner{
        h6{
          height: 100px;
          max-height: 100px;
          overflow-y: hidden;
          @include respond(tablet) {
            padding: 10px;
          }
          span{
            font-size: 40px;
            @include respond(mobile) {
              font-size: 23px;
            }
          }
        }
        i{
          background: $default;
          padding: 8px;
          color: $white;
          border-radius: 5px;
          margin-right: 10px;
          position: relative;
          top: -5px;
        }
      }
      .buttons{
        margin-top: 8%;
        text-align: center;
        @include respond(mobile) {
          margin-top: 13%;
        }
      }
    }
    .name{
      padding-top: 35px;
      @include respond(mobile) {
        padding-top: 5px;
      }
      .plain-card{
        margin-top: 20px;
        p{
          text-align: center;
          font-size: 15px;
        }
        h6{
          span{
            &.day{
              border: 1px solid #bbbbbb;
              padding: 1px 12px;
              font-size: 12px;
              font-weight: 500;
              border-radius: 5px;
              margin-right: 10px;
              display: inline;
            }
          }
        }
        i{
          padding-right: 5px;
        }
      }
    }
  }
  .cards{
    margin-top: 5%;
    width: 100%;
    .plain-card{
      margin-top: 15px;
      span{
        color: $gray;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        i{
          padding-right: 6px;
          color: $gray;
        }
      }
      a{
        float: right;
        color: $orange;
        font-weight: 500;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        i{
          padding-left: 5px;
          color: $orange;
        }
      }
      h6{
        padding-top: 15px;
      }
      h4{
        font-size: 30px;
        font-weight: 500;
      }
      img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border: 0;
        border-radius: 50px;
      }
      p{
        .mini{
          font-size: 12px;
          padding-top: 12px;
        }
      }
      p{
        font-weight: 500;
      }
      .products{
        text-align: center;
        padding-top: 15px;
        .item{
          cursor: pointer;
          @include respond(tablet) {
            padding-top: 25px;
          }
          img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
          }
          p{
            font-size: 14px;
          }
          .price{
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.gallery-images {
  display: flex;
  overflow: auto;
  .g-img {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      object-position: center;
      margin: 5px;
      border-radius: 5px;
    }
  }
}