@import '../../../styles.scss';

.custom-card {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  transition: 0.3s;
  position: relative;
  top: 0;
  &:hover {
    top: -10px;
  }
  .img-section {
    position: relative;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    .icon-bar {
      background: #00000059;
      border-radius: 20px 20px 0 0;
      padding: 15px 30px 8px 30px;
      // padding: 20px 30px 0 30px;
      width: 100%;
      position: absolute;
      top: 0px;
      p {
        font-weight: 500;
        color: $white;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        i {
          color: $white;
          font-size: 15px;
          padding-right: 8px;
        }
        &.amount {
          text-align: right;
          font-size: 17px;
        }
      }
    }
  }
  .content-section {
    padding: 12px 18px;
    .title {
      p {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: .1px;
        color: $lightBlack;
        i {
          font-size: 10px;
          border-radius: 5px;
          padding: 5px;
          color: $white;
          margin-right: 6px;
          background: $default;
        }
       }
    }
    .day-time {
      padding-top: 7px;
      span {
        &.icon {
          i {
            color: $darkGray;
            margin-right: 8px;
            font-size: 16px;
          }
        }
        &.text {
          color: $darkGray;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: .1px;
        }
      }
    }
  }
}
