<div class="custom-card">
  <div class="img-section" style="background-image: url('assets/img/man1.png');">
    <div class="icon-bar">
      <div class="row">
        <div class="col-6">
          <p>
            <i class="fas fa-user"></i>
            EventBrite
          </p>
        </div>
        <div class="col-6">
          <p class="amount">{{data.price}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="title">
      <p class="text-truncate">
        <i class="fas fa-star"></i>
        {{data.title}}
      </p>
    </div>
    <div class="day-time">
      <div class="row">
        <div class="col-6">
          <span class="icon"><i class="far fa-calendar-alt"></i></span>
          <span class="text">{{data.startDateTime | date: 'longDate'}}</span>
        </div>
        <div class="col-6">
          <span class="icon"><i class="far fa-clock"></i></span>
          <span class="text">{{data.startDateTime | date: 'shortTime'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
