<div class="custom-card">
  <div class="img-section" style="background-image: url('../../../assets/img/event1.jpg');">
    <div class="icon-bar">
      <div class="row">
        <div class="col-6">
          <p>
            <i class="fas fa-user"></i>
            Eventbrite
          </p>
        </div>
        <div class="col-6">
          <p class="amount">$5.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="title">
      <p>
        <i class="fas fa-star"></i>
        TED Festival
      </p>
    </div>
    <div class="day-time">
      <div class="row">
        <div class="col-6">
          <span class="icon"><i class="far fa-calendar-alt"></i></span>
          <span class="text">May 16, 2021</span>
        </div>
        <div class="col-6">
          <span class="icon"><i class="far fa-clock"></i></span>
          <span class="text">10:00 am</span>
        </div>
      </div>
    </div>
  </div>
</div>
