<div class="social">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12">
        <div class="heading">
          <h1>Social Links</h1>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-8">
        <form>
          <div class="plain-card mt-4">
            <!-- <h2>Social Links</h2> -->
            <div class="col-12">
              <div class="form-group">
                <label>Facebook Link</label>
                <input type="text" class="form-control" placeholder="Facebook">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Twitter Link</label>
                <input type="text" class="form-control" placeholder="Twitter">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Instagram Link</label>
                <input type="text" class="form-control" placeholder="Instagram">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Pinterest Link</label>
                <input type="text" class="form-control" placeholder="Pinterest">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>LINE@ Link</label>
                <input type="text" class="form-control" placeholder="LINE@">
              </div>
            </div>

            <div class="col-12">
              <div class="btns mt-5 text-center">
                <a class="c-btn pink mr-4">Save</a>
                <a class="c-btn green">Update</a>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
