<div class="blog-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <button class="c-btn pink mb-3 float-right" (click)="edit(data)">Edit</button>
      </div>

      <div class="col-12">
        <a>{{data.category_name}}</a>
        <div class="seprator"></div>
        <h3>{{data.blogTitle}}</h3>

        <div class="col-12">
          <div class="user-line">
            <div class="row">
              <div class="col-7 col-lg-8">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1 pl-0">
                    <img src="{{data.user.image}}">
                  </div>
                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="smalls">
                      <h6>{{data.user.name}}</h6>
                      <p>{{data.createdAt | date: 'medium'}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 col-lg-4">
                <a><i class="fas fa-comment-dots pr-1"></i> No Comments</a>
              </div>
            </div>
          </div>
        </div>

        <img class="mt-4" src="{{data.image}}">
        <h5>{{data.blogTitle}}</h5>
        <p class="pt-2">{{data.description}}</p>
        <p class="pt-2">{{data.content}}</p>
      </div>

      <div class="col-12">
        <form  [formGroup]="programForm">
          <div class="comment">
            <span>Leave a Reply</span>
            <form class="pt-3">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Comment" formControlName="comment"></textarea>
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                  </div>
                </div>
                <div class="col-6 col-lg-4">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Website (optional)" formControlName="website">
                  </div>
                </div>
              </div>
            </form>

            <div class="mt-3">
              <a class="c-btn pink" (click)="createComment()">POST COMMENT</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
