<div class="blog-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h6>Event Marketing</h6>
        <div class="seprator"></div>
        <h3>Social Media Marketing For Your Restaurant</h3>

        <div class="col-12">
          <div class="user-line">
            <div class="row">
              <div class="col-7 col-lg-8">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1 pl-0">
                    <img src="assets/img/girl1.jpg">
                  </div>
                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="smalls">
                      <h6>Kelsey Campbell</h6>
                      <p>21st Jul 20 9:31 pm</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 col-lg-4">
                <a><i class="fas fa-comment-dots pr-1"></i> No Comments</a>
              </div>
            </div>
          </div>
        </div>

        <p class="pt-3">If you own a restaurant and you aren’t already using social media marketing to promote your
          place, you are missing out! It is free, easy to update quickly, and engaging. When you are a small business,
          we know that every dollar counts. If you can save a buck on your marketing plan, we know it can make all the
          difference. </p>
        <p class="pt-2">Social media provides a multitude of outlets for you to reach new audiences. From pictures to
          podcasts you can perfectly curate how you want to represent your restaurant, and start drawing in new
          clientele. </p>
        <p class="pt-2">When you are putting together your restaurant management plan, social media should be a part of
          that plan. 75% of people ages 18-26 look for recommendations on social media before making their decisions
          according to Econsultancy. That’s huge! </p>
        <p class="pt-2">When trying to reach a new audience, this is probably a key group that you should be targeting.
          Most individuals in this group don’t mind frivolous spending when it comes to a night out with friends or a
          fancy date night. </p>
        <p class="pt-2">This is especially true if their plans include a place that they have seen on social media, and
          can’t wait to share themselves. Your presence on social media can certainly create hype that will draw them
          in.</p>
        <img class="mt-4" src="assets/img/blogdetail1.jpg">
        <h5>Optimize Your Channels</h5>
        <p class="pt-2">Before you start reaching out to your community, you need to make sure that your accounts are
          optimized. Make a great first impression! Think of when you were first opening your doors. </p>
        <p class="pt-2">Did you invite out patrons to see the new place as soon as the drywall was installed? No! Odds
          are, you waited until everything was in place, the aesthetics were on point, and you felt proud for people to
          come see what you had to offer. Your social media presence should be the same!</p>
        <p class="pt-2">When you begin driving traffic to your channels, make sure that you fully optimize your
          platforms. The two most popular forms of social media for restaurants right now are Facebook and Instagram.
        </p>
        <p class="pt-2">If someone wants to know more about your place, odds are, this is where they will start. About
          80 million images are shared on Instagram every day. Around 700,000 pieces of content on Facebook every
          minute! We want to make sure that your pages can hold their own and don’t get lost in this vast collection of
          images, videos, etc. </p>
        <p class="pt-2">The average time spent exploring a page drastically drops off if your page is out of date,
          images are poor, or if you have very little info about your business. When you are setting up your accounts,
          make sure you fill out as much information as you possibly can: contact info, address, hours, everything! </p>
        <p class="pt-2">The goal is to make it as easy as possible for the customer to find whatever it is they are
          looking for.</p>
        <img class="mt-4" src="assets/img/blogdetail3.jpg">
        <h5>Optimize All of Your Posts Too!</h5>
        <p class="pt-2">When we talk about optimizing your content, it isn’t just about your profile. Every post makes a
          difference too. You are putting in the work to get your content out there, make sure you maximize your reach!
        </p>
        <p class="pt-2">Don’t simply throw up a delicious looking picture of a brownie and all you put in the caption is
          “YUM.” You arent going to have a great amount of reach. In fact, most of the time, the only way people will
          see your post is if they are already following you.</p>
        <div class="mt-4">
          <a class="c-btn green">Event Marketing</a>
        </div>
      </div>

      <div class="col-12">
        <div class="comment">
          <span>Leave a Reply</span>
          <form class="pt-3">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Comment"></textarea>
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-6 col-lg-4">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Website (optional)">
                </div>
              </div>
            </div>
          </form>

          <div class="mt-3">
            <a class="c-btn pink">POST COMMENT</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
